<div class="container">

    <form class="form-horizontal" role="form" id="userForm">
        <div class="row">
            <!-- left column -->
            <div class="col-md-5">
                <div class="text-center" style="padding:10px">
                    <img src="{{CDN}}/users/profile/{{user.profilePic}}" id="displayProfilePic" class="avatar" alt="avatar">

                    <div class="form-group">
                        <label control-label">Upload a different photo:</label>
                        <input type="file" class="form-control" name="profileImg" id="profileImg"/>
                    </div>
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-7 personal-info">

                <h1>
                    {{#if user}}
                        Edit Profile
                    {{/if}}

                    {{#unless user}}
                        Create Account
                    {{/unless}}
                </h1>


                <input type="hidden" name="id" id="id" value="{{user.id}}"/>
                <input type="hidden" name="socialId" id="socialId" value="{{user.socialId}}"/>
                <input type="text" style="display:none" name="profilePic" id="profilePic" value="{{user.profilePic}}"/>

                <div class="form-group">
                    <label class="control-label">First name:</label>
                    <input class="form-control" type="text" id="firstName" name="firstName" value="{{user.firstName}}">
                </div>
                <div class="form-group">
                    <label class="control-label">Last name:</label>
                    <input class="form-control" type="text" id="lastName" name="lastName" value="{{user.lastName}}">
                </div>

                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input class="form-control" type="text" id="email" name="email" value="{{user.email}}">
                </div>

                <div class="form-group">
                    <label class="control-label">Create tags for instruments and music you play </label>&nbsp;<i>(hit enter after each tag)</i>
                    <br />
                    <select name="tags" id="tags"  multiple>

                        {{#each user.tags}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                {{#if user}}

                {{/if}}

                {{#unless user}}

                    <div class="form-group">
                        <label class="control-label">Password:</label>
                        <input class="form-control" type="password" id="password" name="password" value="{{password}}">
                    </div>

                {{/unless}}

                <div class="form-group">
                    <label class="control-label"></label>
                    {{#if user}}
                        <input type="button" class="btn btn-primary" id="saveUserBtn" value="Save Changes"
                               onClick="tb.dialogs.saveUser();">

                    {{/if}}
                    {{#unless user}}

                        <input type="button" class="btn btn-primary" id="createUserBtn" value="Create Profile"
                               onClick="tb.dialogs.saveUser();">
                    {{/unless}}


                    <input type="reset" class="btn btn-default" value="Cancel">

                    {{#unless user}}
                        <h2>Or do you have a Facebook account?</h2>
                        <div class='social_logins'>
                            <a href="/auth/facebook"><img src="/images/facebook_login.png" /></a>
                        </div>
                    {{/unless}}
                </div>

            </div>
        </div>
    </form>
</div>
<hr>

<script src="/js/lib/models/UserDto.js"></script>
<script src="/js/lib/util/Logger.js"></script>
<script src="/js/lib/validation/TagValidation.js"></script>
<script src="/js/lib/validation/UserValidation.js"></script>
<script src="/js/lib/dialogs/UserProfileDialog.js"></script>

<script language="JavaScript">
    $(document).ready(function () {
        var instruments = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/listData?type=instruments',
                filter: function (list) {
                    return $.map(list, function (instrument) {
                        return {name: instrument};
                    });
                },
                cache: false
            }
        });
        instruments.initialize();

        $('#tags').tagsinput({
            typeaheadjs: {
                name: 'instruments',
                displayKey: 'name',
                valueKey: 'name',
                limit: 15,
                source: instruments.ttAdapter()
            }
        });

    });

</script>