{{#if clientSide}}
    <!-- start musicianInfoIcon -->
    <script id="musicianInfoIconPartial" type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html">
        <div class="musicianInfoIcon">
            <a href="javascript:void(0);" onclick='tb.dialogs.showUserProfile(\{{json userDto}},this);'><img class="thumbnailSmall"
                                                                                         src="{{@root.CDN}}/users/profile/\{{userDto.profilePic}}"/></a>
        </div>
    </script>
    <!-- end musicianInfoIcon -->
{{/if}}
{{#unless clientSide}}
    <div class="musicianInfoIcon">
        <a href="javascript:void(0);" onclick='tb.dialogs.showUserProfile({{{json userDto}}},this);'><img class="thumbnailSmall"
                                                                        src="{{@root.CDN}}/users/profile/{{userDto.profilePic}}"/></a>
    </div>
{{/unless}}

